@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 32px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-background-clip: text;
}

.description {
  font-size: 25px;
  font-family: var(--font-roboto);
  margin-bottom: 50px;
  max-width: 500px;
}
.buttons {
  height: 60px;
  display: flex;
  align-items: center;
}
.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 0px;
  width: 150px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
   position: relative;
}
.contactBtn:hover {
  background-color: #3a4d6e;
}

.resumeBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 0px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
  margin-left: 40px;
  border: none;
  cursor: pointer;
  width: 200px;
  position: relative;
}
.resumeBtn:hover {
  background-color: #3a4d6e;
}
.stickyResumeBtn{
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 0px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
  margin-left: 40px;
  border: none;
  cursor: pointer;
  width: 200px;
  display: block;
  position: fixed;
  bottom:10px;
transform: translateX(400px);

}

.stickyResumeBtn:hover{
  background-color: #3a4d6e;
}

.downloadSpan {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease, top 0.3s ease;
}

.downloadIcon {
  width: 50px;
  height: 45px;
}

.iconVisible {
  opacity: 1;
  top: 5px;
}

.iconHidden {
  opacity: 0;
}
.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: (0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}
.BottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  min-height: 350px;
  top: 245px;
  right: -25vw;
  border: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
  }
  .title {
    font-size: 50px;
  }
  .description {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .description {
    font-size: 25px;
    padding: 0 20px;
  }
}
